<div id="bridge" class="scene">




<div class="transparent sf-screen container">

	<div class="sf-ui">


		<div class="row">

			<section class="col-lg-9">
				<div class="header clearfix">
					<div class="logo pull-left">
						<i class="icon-xing"></i>
					</div>
					<div class="gradient-bg left header-text">
						<h1>Ship inventory</h1>
						<div class="diagonal-edge"></div>
					</div>
				</div>


				<div class="sub-header gradient-bg left clearfix">
					<div class="main-actions pull-right">
						<button ng-click="showBg=!showBg" class="btn btn-primary">Manage Inventory</button>
					</div>
				</div>

				<div class="hr"><i/><i/></div>

				<h1 style="margin-bottom:8px">
					<strong>
						<span class="pull-right">SHUTTLE BAY 4747</span>
						ACCOUNT: 1123144
					</strong>
				</h1>

				<div class="toolbar clearfix">
					
					<div class="additional-details">
						Lorem ipsum dolor a si amet<br>
						Sed ut perspiciatis unde omnis iste natus
					</div>
					
					<div class="search pull-right">

					</div>
				</div>








			</section>















			<!-- Right Aside -->
			<section class="col-lg-3">
				<ul class="notifications">

					<li>
						<h5>New cargo ready for distribution</h5>
						<p class="muted">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ...
						</p>
						<div class="notch"></div>
					</li>

					<li class="gradient-bg">
						<h5>New weapon upgrades available</h5>
						<p class="muted">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna... 
						</p>
						<div class="notch"></div>						
					</li>

				</ul>



			</section>
		</div>

	</div>

</div>




<div ng-show="showBg" class="scene-bg"></div>

</div>
