<div id="bridge" class="scene">




<div class="transparent sf-screen container">

	<div class="sf-ui">


		<div class="row">

			<section class="col-lg-9">
				<div class="header clearfix">
					<div class="logo pull-left">
						<i class="icon-xing"></i>
					</div>
					<div class="gradient-bg left header-text">
						<h1>Ship inventory</h1>
						<div class="diagonal-edge"></div>
					</div>
				</div>


				<div class="sub-header gradient-bg left clearfix">
					<div class="main-actions pull-right">
						<button ng-click="showBg=!showBg" class="btn btn-primary">Manage Inventory</button>
					</div>
				</div>

				<div class="hr"><i/><i/></div>

				<h1 style="margin-bottom:8px">
					<strong>
						<span class="pull-right">SHUTTLE BAY 4747</span>
						ACCOUNT: 1123144
					</strong>
				</h1>

				<div class="toolbar clearfix">
					
					<div class="additional-details">
						Lorem ipsum dolor a si amet<br>
						Sed ut perspiciatis unde omnis iste natus
					</div>
					
					<div class="search pull-right">

					</div>
				</div>


				<table class="table sf-table">

					<thead>
						<tr>
							<th colspan="2" class="gradient-bg xs">
								Tools
							</th>

							<th class="type gradient-bg xs inverted">
								Type <i class="icon-angle-down"></i>
							</th>
							<th class="separator">
								<div class="notch"></div>
								<div class="line"></div>
							</th>
							<th class="gradient-bg left">
								Description
							</th>
							<th class="amount gradient-bg xs inverted">
								Amount
							</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="item in inventory">
							<td>
								<div checkbox ng-model="selected"></div>
							</td>
							<td>
								<!-- filter tools -->
							</td>
							<td class="type">
								{{item.type}}
							</td>
							<td class="separator"><div class="line"></div></td>
							<td>{{item.description}}</td>
							<td class="amount">
								{{item.amount}} <i class="icon-euro"></i>
							</td>
						<tr/>

					</tbody>

				</table>
			</section>















			<!-- Right Aside -->
			<section class="col-lg-3">
				<ul class="notifications">
					<li ng-repeat="item in notifications">
						<h5>{{item.title}}</h5>
						<p class="muted">
							{{item.detail}}
						</p>
						<div class="notch"></div>
					</li>
				</ul>



			</section>
		</div>

	</div>

</div>




<div ng-show="showBg" class="scene-bg"></div>

</div>
